<footer class="bg-dark text-white text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- About Us Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">About Us</h5>
        <p>
          Our mission is to provide the best services to our customers and ensure their satisfaction.
        </p>
      </div>
      <!-- Links Section -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-white">Home</a>
          </li>
          <li>
            <a href="#!" class="text-white">About</a>
          </li>
          <li>
            <a href="#!" class="text-white">Services</a>
          </li>
          <li>
            <a href="#!" class="text-white">Contact</a>
          </li>
        </ul>
      </div>
      <!-- Resources Section -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Resources</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-white">Blog</a>
          </li>
          <li>
            <a href="#!" class="text-white">FAQ</a>
          </li>
          <li>
            <a href="#!" class="text-white">Support</a>
          </li>
          <li>
            <a href="#!" class="text-white">Privacy Policy</a>
          </li>
        </ul>
      </div>
      <!-- Contact Us Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact Us</h5>
        <p>
          1234 Street Name, City, State 56789
        </p>
        <p>
          Email: info@yourwebsite.com
        </p>
        <p>
          Phone: (123) 456-7890
        </p>
      </div>
    </div>
  </div>
  <!-- Copyright Section -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="<%= root_path %>">YourWebsite.com</a>
  </div>
</footer>