<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Course name:</strong>
    <%= team.course_name %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= team.instructor_id %>
  </p>

</div>
