<div class="containers hall-building">
  <div class="gradient-filter">
    <header class="title teams">
      <h1><%= @team.name %></h1>
    </header>
  </div>
</div>


<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_instructor_dashboard_index_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>

