<div class="upcoming-evaluation" style="<%= 'background-color: #ff9999' if upcoming_evaluation[:project].due_date < Date.today %>">
	<h3> <%= upcoming_evaluation[:project].title %></h3>
	<div class="upcoming-info">
		<div class="clock-icon"><i class="fa-solid fa-clock"></i></div>
		<div>
			<%= upcoming_evaluation[:evaluations].count %> evaluations due for <strong><%= upcoming_evaluation[:project].due_date.strftime("%B %d") %></strong>
		</div>
	</div>
</div>