<div class="containers hall-building">
	<div class="gradient-filter">
		<header class="title">
				<h1>Hello <%= current_user.first_name %>!</h1>
				<p><%= DateTime.now.strftime("Today is %A, %B %d, %Y") %>.</p>
		</header>
		<section class="student-">
			<h1>Index</h1>
		</section>
	</div>
</div>
