<div class="containers hall-building">
	<div class="gradient-filter">
		<header class="section one">
			<h1>Hello <%= current_user.first_name %>!</h1>
			<p><%= DateTime.now.strftime("Today is %A, %B %d, %Y") %>.</p>
            <div class="student-overview">
                <div class="overview one">Cooperation: </div>
                <div class="overview two">Conceptual Contribution: </div>
                <div class="overview three">Practical Contribution:</div>
                <div class="overview four">Work Ethic: </div>
            </div>
		</header>
		<section class="section">
			<h2>Upcoming Evaluations</h2>
            <%# for each upcoming evaluation, create the following div: %>
            <div class="upcoming-evaluation">
                <h3>Title</h3>
                <div class="upcoming-info">
                    <div class="clock-icon"><i class="fa-solid fa-clock"></i></div>
                    <div> 
                        #OfEVALUATIONS due for <strong>DATE<strong>
                    </div>
                </div>
            </div> 
		</section>
        <section class="section"> 
            <h2>Progression Chart</h2>
            <div class="student-chart"></div>
        </section>
	</div>
</div>
