<div class="dashboard page">
    <h1>Hello, ${Pronouns}. ${First Name}</h1>
    <p>Today is ${Month} ${Day}, ${Year}.</p>
    <div class="instructor-overall-data">
        <div class="instructor-data-box total-teams">
            <%= image_tag 'instructor_teams.png', alt: 'Teams Icon' , size: '23x23'%>
            <h3>${NumberOfTeams}</h3>
            <h3>Total Teams</h3>
        </div>
        <div class="instructor-data-box evaluations-completed">
            <%= image_tag 'check_small.png', alt: 'CheckMark Icon' , size: '23x23'%>
            <h3>${NumberOfTeamsCompleted}</h3>
            <h3>Evaluations Completed</h3>
        </div>
        <div class="instructor-data-box evaluations-pending">
            <%= image_tag 'cross_small.png', alt: 'Cross Icon' , size: '23x23'%>
            <h3>${NumberOfTeamsPending}</h3>
            <h3>Evaluantions Pending</h3>
        </div>
    </div>
</div> 