
<div class="containers hall-building">
  <div class="gradient-filter">
    <header class="section one">
      <h1>Settings</h1>
      <h2>Edit personal information:</h2>
    </header>
    <section class="section">
    <div class="settings-form">
      <form>
        <div class="input-group">
          <label>First Name</label>
          <input type="text" placeholder="John" name="first_name">
        </div>
        
        <div class="input-group">
          <label>Last Name</label>
          <input type="text" placeholder="Smith" name="last_name">
        </div>

        <div class="input-group">
          <label>Email</label>
          <input type="email" placeholder="johnsmith@gmail.com" name="email">
        </div>
        
        <div class="input-group">
          <label>Current Password</label>
          <input type="password" placeholder="********" name="current_password">
        </div>
        
        <div class="input-group">
          <label>New Password</label>
          <input type="password" placeholder="********" name="password">
        </div>
        
        <button type="submit" class="button primary" style="width: 100%; margin-top:10px">Apply</button>
      </form>
    </div>
    </section>
  </div>
</div>

