<div class="container hall-building">
	<div class="gradient-filter">
		<header class="title teams">
			<h1>Teams</h1>
			<div class="button primary">
				<i class="fa-solid fa-plus"></i>&nbsp
				<%= link_to "Create a new team", new_team_path %>
			</div>
		</header>
		<section class="instructor-dashboard-teams">
		</section>
	</div>
</div>
