<div class="flash error">
  <i class="fa-solid fa-circle-xmark"></i>
  <div>
    <h4>Error</h4>
    <p><%= msg %></p>
  </div>
  <i class="fa-solid fa-x close-button" onclick="this.parentElement.remove()"></i>
</div>

<script>
  setTimeout(() => {
    const flash = document.querySelector('.flash.error');
    if (flash) {
      flash.classList.add('fade-out');
      
      flash.addEventListener('animationend', () => flash.remove());
    }
  }, 5000);
</script>
